<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="methods" >
  <test  name="test" >
    <classes>
		<class name="com.tests.TC004_VerifyCreateLead"/>
		<class name="com.tests.TC003_VerifyLeadsPage"/>
		<class name="com.tests.TC002_VerifyMyHomePageNavigaion"/>
      	<class name="com.tests.TC001_LogintoApplication"/>
    </classes>
  </test> <!-- Test -->
   <!-- Test -->
</suite> <!-- Suite -->